# Code

In [1]:
get_name = function(directory, id){
    paste0(directory, "/", formatC(id, width=3, flag="0"), ".csv")
}

### pollutantmean.R

In [2]:
pollutantmean = function(directory, pollutant, id=1:332){
    for ( i in id ){
        if ( i == id[1] ){
            data = read.csv(get_name(directory, i), na.strings="NA")
        } else {
            data = rbind(data, read.csv(get_name(directory, i), na.strings="NA"))
        }
    }
    mean(data[,pollutant], na.rm=TRUE)
}

In [3]:
pollutantmean("specdata", "sulfate", 1:10)
pollutantmean("specdata", "nitrate", 70:72)
pollutantmean("specdata", "nitrate", 23)

[1] 4.064128

[1] 1.706047

[1] 1.280833

### complete.R

In [4]:
complete = function(directory, id = 1:332){
    nobs = data.frame(id=id)
    for ( i in 1:length(id) ){
        data = read.csv(get_name(directory, id[i]), na.strings="NA")
        nobs[i,"nobs"] = sum(complete.cases(data))
    }
    nobs
}

In [5]:
complete("specdata", 1)
complete("specdata", c(2, 4, 8, 10, 12))
complete("specdata", 30:25)
complete("specdata", 3)

  id nobs
1  1  117

  id nobs
1  2 1041
2  4  474
3  8  192
4 10  148
5 12   96

  id nobs
1 30  932
2 29  711
3 28  475
4 27  338
5 26  586
6 25  463

  id nobs
1  3  243

### corr.R

In [6]:
corr = function(directory, threshold=0){
    out = c()
    for ( id in 1:332 ){
        data = read.csv(get_name(directory, id), na.strings="NA")
        if ( sum(complete.cases(data)) > threshold ){
            c = cor(data[,"sulfate"], data[,"nitrate"], use="complete.obs")
            out = c(out, c)
        }
    }
    out
}

In [7]:
summary(corr("specdata", 150))
summary(corr("specdata", 400))
length(corr("specdata", 5000))
summary(corr("specdata"))
length(corr("specdata"))

    Min.  1st Qu.   Median     Mean  3rd Qu.     Max.
-0.21060 -0.04999  0.09463  0.12530  0.26840  0.76310

    Min.  1st Qu.   Median     Mean  3rd Qu.     Max.
-0.17620 -0.03109  0.10020  0.13970  0.26850  0.76310

[1] 0

    Min.  1st Qu.   Median     Mean  3rd Qu.     Max.
-1.00000 -0.05282  0.10720  0.13680  0.27830  1.00000

[1] 323

# Quiz Questions

In [8]:
round(pollutantmean("specdata", "sulfate", 1:10), 3)

[1] 4.064

In [9]:
round(pollutantmean("specdata", "nitrate", 70:72), 3)

[1] 1.706

In [10]:
round(pollutantmean("specdata", "sulfate", 34), 3)

[1] 1.477

In [11]:
round(pollutantmean("specdata", "nitrate"), 3)

[1] 1.703

In [12]:
complete("specdata", c(6, 10, 20, 34, 100, 200, 310))$nobs

[1] 228 148 124 165 104 460 232

In [13]:
complete("specdata", 54)$nobs

[1] 219

In [14]:
set.seed(42)
complete("specdata", 332:1)[sample(332, 10), "nobs"]

 [1] 711 135  74 445 178  73  49   0 687 237

In [15]:
cr = sort(corr("specdata"))
set.seed(868)  
round(cr[sample(length(cr), 5)], 4)

[1]  0.2688  0.1127 -0.0085  0.4586  0.0447

In [16]:
cr = sort(corr("specdata", 129))
n = length(cr)
set.seed(197)                
c(n, round(cr[sample(n, 5)], 4))

[1] 243.0000   0.2540   0.0504  -0.1462  -0.1680   0.5969

In [17]:
length(corr("specdata", 2000))
round(sort(corr("specdata", 1000)), 4)

[1] 0

[1] -0.0190  0.0419  0.1901